.home {
    font-size: 1.5rem;
    line-height: 2rem; 
}

.home .hero {
    margin-top: 8rem;
    margin-bottom: 2rem;
    font-size: 2.5rem;
    line-height: 4.5rem;
    font-weight: bold;
    text-align:center;
}

.home h4 {
    text-align:center;
    margin-top:1rem;
    margin-bottom: 0.5rem;
    background-color: yellow;
}